$bg-puglife-standard: #12d1c6;
$bg-puglife-dark: #0e8079;

$highlight-one:#f1f1f1;
$highlight-two:#cccccc;

$txt-puglife-logo: #ffffff;
$txt-puglife-nav-mobile: #ffffff;
$txt-puglife-nav-desktop: #000000;

$rating-star:#ffad2c;

$btn-one:#367ce7;
